/* Reset some default styles for the page */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply Roboto font to the entire page */
body {
    font-family: "Roboto";  
    font-weight: 500;
    background-color:#5e6c6d }

/* Style the header */
header {
    background-color: #73c9df;
    color: #e44343;
    padding: 20px;
    text-align: center;
}

/* Style the navbar */
.navbar {
    background-color: #fdffff
 }

/* Make the navbar links inline */
.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    margin-right: 20px;
    color: #dd0909;
}

/* Style the navbar links */
.nav-link {
    text-decoration:none;
    color: #eb0303;
    font-weight: bold;
    font-size: 16px;
}

/* Style the main content section */
.main-content {
    padding: 20px;
}   
.title {
    color: #09147c;
}

/* Style the footer */
footer {
    background-color: #73c9df;  
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}